body{
    background: gray url(images/20230731_204106.jpg);
    margin:0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    background: whitesmoke;
    position:sticky;
}
header a{
    text-decoration: none;
    color: black;
}
section{
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 600px;
    border:2px solid black;
    padding: 20px;
    margin: 0 auto;
}
/*index.html*/
.home-info{
    position:absolute;
    top:60%;
    left:10%;
    width:max-content;
}
.home-header ul{
    display: flex;
    justify-content: center;
}
.home-header ul li{
    list-style-type: none;
    margin-left: 10px;
}
/*Book.html*/
.book-cont{
    width: max-content;
}
.book-cont div{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    padding: 10px;
}
.book-cont form{
    width: 400px;
    padding: 10px;
    height: 100%;
}
.book-cont span{
    width: 100%;
}
.book-cont form input{
    height: 20px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 5px;
}
.book-cont .dates{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-cont .dates span{
    width: 50%;
}
.room-type span{
    width: 50%;
}
.book-cont article{
    width:300px;
    border-left: 2px solid black ;
    padding: 10px;
}
/*about.html*/
