<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <aside>
        <span>
            <i>hotel logo</i>
            <h2>HDLux <br>Management Suite</h2>
        </span>
        <h5>Dashboard</h5>
        <span>
            <i></i>
            <p><a>Dashboard</a></p>
        </span>

        <h5>ROOM MANAGEMENT</h5>
        <span>
            <i></i>
            <p><a>Add room</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Manage Rooms</a></p>
        </span>
        <span>
            <i></i>
            <p><a>All Rooms</a></p>
        </span>

        <h5>Staff Management</h5>
        <span>
            <i></i>
            <p><a>Add Staff</a></p>
        </span>
        <span>
            <i></i>
            <p><a>All Staff</a></p>
        </span>
        <span>
            <i></i>
            <p><a>All guest</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Invoices</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Analytics</a></p>
        </span>

        <button>Collapse</button>
    </aside>

    <header>
        <span>
            <h1>Admin Dashboard</h1>
            <p>Welcome back, Admin!</p>
        </span>
        <div>
            <i>search</i>
            <i>notification</i>
                <div id="messages">
                    <p>Messages</p>
                    <span>
                        <span>
                            <i></i>
                        </span>
                        <span>
                            <p><b>Robert johnnson</b></p>
                            <p id="mess-cont"></p>
                        </span>
                    </span>
                    <span>
                        <span>
                            <i></i>
                        </span>
                        <span>
                            <p><b>Laura Bennett</b></p>
                            <p id="mess-cont"></p>
                        </span>
                    </span>
                    <button>View All Messages</button>
                </div>
            <span>
                <i></i>
                <span>
                    <p><b>Admin User</b></p>
                    <p>System Administrator</p>
                </span>
            </span>
        </div>
    </header>
    <section>
        <div>
            <div>
                <span>
                    <i>money logo</i>
                </span>
                <span>
                    <p><i>$</i>8,665</p>
                    <p>Total Collected Bills</p>
                </span>
            </div>
            <div>
                <span>
                    <i>3</i>
                </span>
                <span>
                    <p>3</p>
                    <p>Total staff(Admin + Staff + Accounts)</p>
                </span>
            </div>
            <div>
                <span>
                    <i></i>
                </span>
                <span>
                    <p>14</p>
                    <p>Total Guests</p>
                </span>
            </div>
        </div>
        <div>
            <div>
                <span>
                    <i></i>
                </span>
                <span>
                    <p>8</p>
                    <p>Checked-in Guests</p>
                </span>
            </div>
            <div>
                <span>
                    <i></i>
                </span>
                <span>
                    <p>2/1</p>
                    <p>Staff Activites (Online/ Offline)</p>
                </span>
            </div>
            <div>
                <span>
                    <i></i>
                </span>
                <span>
                    <p>16</p>
                    <p>Total Rooms</p>
                </span>
            </div>
        </div>
    </section>

    <section>
        <h3>Recent Activities</h3>
        <div>
            <span>
                <i></i>
            </span>
            <span>
                <p><b>Admin arif(admin) logged in</b></p>
                <p>nov 30 at 1200</p>
            </span>
        </div>
    </section>
</body>
</html>