<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body id="login-body">
    <div class="login-body">
        <form class="login-form"> 
            <p>Log In</p>
            <label for="ID">Enter Id</label>
            <input type="text " id="ID" placeholder="Identification number" required>
            <label for="password">Enter Password</label>
            <input type="password" id="password" placeholder="Password" required>
            <input type="submit" value="Log In">
        </form>
    </div>
</body>
</html>