<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDLux</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
    <header>
        <div>
            <h2>HDLux</h2>
        </div>
        <div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="rooms.html">Rooms</a></li>
                <li><a href="book.html">Book Now</a></li>
                <li><a href="status.html">Check Status</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <button>Sign In</button>
        </div>
    </header>
        <section>
            <div>
                <h2>About Us</h2>
                <p>
                    Welcome to HDLux - your trusted gateway to comfortable, affordable and unforagtable stays.
                </p>
                <p>
                    Whether you're planning a relaxation vacation, a bussiness trip, a backpacking adventure, or a weekend getaway,
                    we connect you with the perfect place to rest your head. From budget-freindly hostels and cozy Airbnbs to luxury hotels and boutique stays,
                    we offer a diverse ranfe of options across popular destinations.
                </p>
                <p>
                    At HDLux, we believe in more than just booking rooms - we help create experiences. Our mission i to simplify traavel planning by giving you 
                    access to verified listings, secure payments, real-time availability, and 24/7 customer support. whether your're travelling solo, with friends or family,
                    you will find space tailored to your comfort and lifestyle.
                </p>
                <h4>Why book with us</h4>
                <ul>
                    <li>Easy to use platform with real-time booking</li>
                    <li>Wide selection of accomodation to suit every budget</li>
                    <li>Secure and hustle-free payments</li>
                    <li>Transparent reviews and ratings</li>
                    <li>24/7 support before, during and after your stay</li>
                </ul>
                <p>
                    Join Thousands of happy customers who've trusted us to provide them with accomodation.
                    Book your next stay with confidence - we're here to make sure every night away feels just like home.
                </p>
            </div>
        
        </section>
        
    
</body>
</html>