<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDLux</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
    <header class="home-header">
        <div>
            <h2>HDLux</h2>
        </div>
        <div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="rooms.html">Rooms</a></li>
                <li><a href="book.html">Book Now</a></li>
                <li><a href="status.html">Check Status</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <button>Sign In</button>
        </div>
    </header>
        <section>
            <div>
                <h2>Contact Us</h2>
                <hr>
                <p>
                    We're here to help - before, during and after your booking.
                </p>
                <p>
                    Have questions about a reservation, need help finding the perfect place to stay, or just want to say hello?
                    Reach out to us anytime. Our dedicated support team is always ready to assist you.
                </p>
                <p>
                    <b>
                        <i></i>
                        Phone support<br>
                    </b>
                    +254771 332433<br>
                    Available 24/7<br>
                </p>
                <p>
                    <b>
                        <i></i>
                        Email Us<br>
                    </b> 
                    <a href="#">Support@hdlux.com</a><br>
                    We typically respond within a few hours.
                </p>
                <p>
                    <b>
                        <i></i>
                        Live Chat<br>
                    </b>
                    Click the chat icon at the bottom right of you screen to talk to a real person -
                    Fast and Friendly support whenever you need it.
                </p>
                <p>
                    <b>
                        <i></i>
                        Office Address<br>
                    </b>
                    HDLux<br>
                    123 Old Town,
                    Mombasa, Kenya
                </p>
                <p>
                    <b>
                        <i></i>
                        Customer Service Hours<br>
                    </b>
                    Monday to Sunday: 24/7 support(Online)<br>
                    Office visits: Monday to Friday, 9AM-5PM(Local Time)<br>
                </p>
                <p>
                    You can also reach us through our social media platforms for updates
                </p>
                <span>
                    <a>Facebok</a>|
                    <a>Instagram</a>|
                    <a>Twitter</a>|
                    <a>TikTok</a>
                </span>
                <hr>
            </div>
        </section>
    
</body>
</html>