<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDLux</title>
    <link rel="stylesheet" href="style/styles.css">
    <style>
        body{
            background-image: url(/images/bg.jpg);
        }
    </style>
</head>
<body>
    <header>
        <div>
            <h2>HDLux</h2>
        </div>
        <div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="rooms.html">Rooms</a></li>
                <li><a href="book.html">Book Now</a></li>
                <li><a href="status.html">Check Status</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <button>Sign In</button>
        </div>
    </header>
    <section class="home-cont">
        <div class="home-info">
            <h2>Cullinary Experience Awaits</h2>
            <p>
                Experience fine reception and acomodation at our 5 star suites.
            </p>
            <button>Book your stay now</button>
        </div>
    </section>
    
</body>
</html>