<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <aside class="dashboard">
        <div>
            <span>
                <i></i>
            </span>
            <span>
                <p>HDLux</p>
                <p>Management System</p>
            </span>
        </div>
        <hr>
        <p>Main</p>
        <hr>
        <span>
            <i></i>
            <p><a href="#">Dashboard</a></p>
        </span>
        <span>
            <i></i>
            <p><a href="#">Booking Request</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Registration</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Check In</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Check Out</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Rooms</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Guests</a></p>
        </span>
        <hr>
        <p>Finance</p>
        <hr>
        <span>
            <i></i>
            <p><a>invoice</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Bill info</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Guest Info</a></p>
        </span>
        <span>
            <i></i>
            <p><a>Reports</a></p>
        </span>
        <hr>
        <p>System</p>
        <hr>
        <span>
            <i></i>
            <p><a>Log Out</a></p>
        </span>
    </aside>
    <header>
        <span>
            <h3>Accounts branch Dashboard</h3>
        </span>
        <div>
            <i>search</i>
            <i>notification</i>
                <div id="messages">
                    <p>Messages</p>
                    <span>
                        <span>
                            <i></i>
                        </span>
                        <span>
                            <p><b>Robert johnnson</b></p>
                            <p id="mess-cont"></p>
                        </span>
                    </span>
                    <span>
                        <span>
                            <i></i>
                        </span>
                        <span>
                            <p><b>Laura Bennett</b></p>
                            <p id="mess-cont"></p>
                        </span>
                    </span>
                    <button>View All Messages</button>
                </div>
            <span>
                <i></i>
                <span>
                    <p><b>Admin User</b></p>
                    <p>System Administrator</p>
                </span>
            </span>
        </div>
    </header>

    <section>
        <div>
            <span>
                <label for="timeOfStay">Time Period</label>
                <input type="datetime-local" id="timeOfStay" placeholder="Time">
            </span>
            <span>
                <label for=""></label>
            </span>
        </div>
    </section>
</body>
</html>