body{
    margin: 0;
    padding: 0;
    margin-left: 25vw;
    margin-right: 10px;
    background: wheat;
}
aside{
    width: 20vw;
    height: 100vh;
    position: absolute;
    left: 0;
    border-right: 2px solid black;
    padding: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(2px);
    padding: 10px;
    margin: 10px;
}
header div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header #messages{
    display: none;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}
.cards-container div{
    margin: 10px;
    padding: 10px;
    border-left: 5px solid black;
    height: 100%;
    width: 25%;
    border-radius: 25px;
    box-shadow: 5px 5px solid black;
}

.recents{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

